.main {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.box {
  position: fixed;
  width: 100%;
}

.header {
  margin-top: 3%;
}

.header .sub {
  width: 100%;
  margin: 1% 0;
}
.footer {
  bottom: 0px;
  margin-bottom: 3%;
}

.ml12 {
  font-weight: 200;
  font-size: 1.5em;
  margin: 0;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: rgb(255, 255, 255);
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml5 .text-wrapper {
  width: 100%;
}

.ml5 .text-wrapper {
  line-height: 1em;
  display: flex;
  flex-wrap: wrap;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  transform-origin: 0.5 0;
}

.sub {
  width: 33vw;
  padding: 5px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 860px) {
  .sub {
    width: 100%;
  }
}
