body::before {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
}

@media (max-width: 599px) {
  body {
    position: relative;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../image/bg_small.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }
}
@media (min-width: 600px) and (min-width: 960px) {
  body {
    position: relative;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../image/bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }
}
